* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    display: flex;
    justify-content: space-around;
    gap: 12rem;
    margin: 60px 0 0 100px;
    width: 1193px;
    height: 59px;
    /* border: 2px solid red; */
    align-items: center;
}
ul {
    display: flex;
    justify-content: center;
    gap: 5rem;
    align-items: center;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #666666;
    
}
.links {
    display: flex;
    justify-content: center;
    gap: 4rem;
}
.icons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}
#home {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 6rem 0 0 0;
}
.text {
    font-size: 30px;
    font-weight: 700;
    color: rgba(66, 68, 110, 1);
}
  
.profile{
    width: 349px;
    height: 349px;
    border-radius: 70%;
    border: 5px solid transparent;
    background: linear-gradient(#e70faa,#00c0fd) padding-box, linear-gradient(to top ,#00c0fd, #e70faa) border-box;
}

#tech {
    margin: 8rem 0 0 0;
}

.word {
    text-align: center;
    text-transform: capitalize;
    line-height: 4rem;
}
.word h1 {
    font-size: 49px;
    color: rgba(66, 68, 110, 1);
}
.word p {
    font-size: 32px;
    color: rgba(102, 102, 102, 1);
    
}

.icon {
    font-size: 80px;
    display: flex;
    flex-direction: column;
}
.icon .first , .second {
    display: flex;
    justify-content: space-evenly;
    margin: 4rem 0 0 0;
}

.text2 {
    text-align: center;
    margin: 9rem 0 0 0;
    text-transform: capitalize;
}
.text2 h1 {
    font-size: 48px;
    color: rgba(66, 68, 110, 1);
}
.text2 p {
    font-size: 32px;
    color: rgba(102, 102, 102, 1);
}


.box1 {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 4rem 0 0 0;
}

.box1 .first {
    width: 375.5px;
    height: 567px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, .2);
    border-radius: 4.5%;
    line-height: 1.4rem;
    /* margin: 0 0 0 10rem; */
}
.box1 .first h1,p,h5 {
    margin: 2rem 0 0 0;
    padding: 0 1.5rem;
}
.box1 .first h1 {
    color: rgba(0, 0, 0, 1);
    font-weight: bold;
}
.box1 .first p , h5 span {
    color: rgba(102, 102, 102, 1);
}

.box2 {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 4rem 0 0 0;
}

.box2 .first {
    width: 375.5px;
    height: 567px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, .2);
    border-radius: 4.5%;
    line-height: 1.4rem;
    /* margin: 0 0 0 10rem; */
}
.box2 .first h1,p,h5 {
    margin: 2rem 0 0 0;
    padding: 0 1.5rem;
}
.box2 .first h1 {
    color: rgba(0, 0, 0, 1);
    font-weight: bold;
}
.box2 .first p , h5 span {
    color: rgba(102, 102, 102, 1);
}




.foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}
.foot .a , .b {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 0 1.5rem;
}
.foot a {
    text-decoration: underline;
    color: rgba(0, 0, 0, 1);
    font-weight: bold;
    font-size: 14px;
}















.bam {
    margin-bottom: 100rem;
}
